* {
  padding: 0;
  margin: 0;
}
:root {
  --font-size: 1.2rem;
  --border-radius: 6px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 3rem;
  text-align: center;
  margin: 30px 0;
}
form {
  background-color: rgb(160, 220, 243);
  border-radius: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* div (11碼)、(數量)  */
.elevenNum,
.amount {
  width: 80%;
  /* background-color: #fa0; */
  margin: 10px 0;
  padding: 20px 0;
}

/* 標籤 (起始帳號)、(帳號數)  */
.elevenNum label,
.amount label {
  /* background-color: #f55; */
  font-size: var(--font-size);
  font-weight: 600;
  display: inline-block;
  width: 15%;
  margin-left: 150px;
}

/* 輸入框 (起始帳號)、(帳號數)  */
input#startAccount,
input#accountCount {
  padding: 15px;
  color: #4779bb;
  font-weight: 400;
  border-radius: var(--border-radius);
  font-size: var(--font-size);
}

input#startAccount {
  width: 40%;
}

input#accountCount {
  width: 10%;
}

input#startAccount:hover,
input#accountCount:hover {
  background-color: #4779bb;
  border-color: #fff;
  color: aliceblue;
}

.btn{
  width: 200px;
  padding: 20px 10px;
}
